body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E0E5EC;
}

.content {

 
box-shadow: 0px 5px 30px rgba(58, 73, 96, 0.42);

}

.rainfall {
  box-shadow: 0px 4px 8px rgba(176, 188, 222, 0.8);
}